
body {
  margin: 0;                     /* dış boşluk */
  padding: 10px;          /* iç boşluk */        
  white-space: nowrap;    /* bu satırı asla kırma */
  font-size: 0;                 
}

.box {
  display: inline-block;          
  vertical-align: top;
  box-sizing: border-box;      /* iç ve dış toplam boyu aynı olsun  */
  width: 100px;
  height: 150px;
  padding: 10px;                  
  margin-right: 10px;             
  background-color: #eeeff2;
  border-left: 10px dotted #D0D0FF; /* noktalı çizgi */
  font-family: Tahoma, Arial, sans-serif;
  font-size: 40px;
}

.box:hover { /*pseudo class */
  cursor: pointer;               
  background-color: yellow;
  color: goldenrod;
}

#last {
  position: fixed;  /*sayfa kaydırılsa yerinden oynamaz*/              
  right: 10px;
  bottom: 10px;
}